.trade-box {
  background: #0d0d0d;
  padding: 20px;
  border-radius: 12px;
  width: 420px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 136, 255, 0.4);
  font-family: "Consolas", monospace;
}

.trade-box h2 {
  color: #00ccff;
  margin-bottom: 15px;
  font-size: 20px;
  text-transform: uppercase;
}

.trade-box p {
  color: #bbb;
  font-size: 14px;
}

.trade-box label {
  display: block;
  margin: 10px 0 5px;
  color: #ccc;
  font-size: 13px;
  text-align: left;
}

.trade-box input,
.trade-box select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #222;
  margin-bottom: 10px;
  font-family: monospace;
  background: #1a1a1a;
  color: #fff;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.trade-box input:focus,
.trade-box select:focus {
  outline: none;
  border-color: #00ccff;
  background: #111;
}

/* Trade Button */
.trade-buttons {
  margin-top: 10px;
}

.bot-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

/* Start Bot style */
.bot-btn.start {
  background: linear-gradient(90deg, #00ff88, #0088ff);
  box-shadow: 0px 0px 10px rgba(0, 200, 150, 0.5);
}

.bot-btn.start:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 200, 150, 0.4);
}

/* Stop Bot style */
.bot-btn.stop {
  background: linear-gradient(90deg, #ff0044, #8800ff);
  box-shadow: 0px 0px 10px rgba(200, 0, 150, 0.5);
  animation: pulseRed 1s infinite;
}

.bot-btn.stop:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.6);
}

/* Pulse animation for running bot */
@keyframes pulseRed {
  0% {
    box-shadow: 0 0 10px rgba(200, 0, 150, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(200, 0, 150, 0.5);
  }
}

.warning-box {
  background: #ffefef;
  border: 1px solid #d00;
  color: #900;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  border-radius: 6px;
}
